div.main {
    width: 600px;
	margin: 180px auto;
}

div.main>img.logo {
    display: block;
    width: 270px;
    margin: auto;
}

div.main div.input {
    margin: 10px 4px;
}

div.main div.input>input[type=text] {
    width: 100%;
    height: 42px;
    padding: 3px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
    border: 1px solid #ccc;
}

div.main div.input>input[type=text].shadow {
	padding-left: 10px;
}
.shadow {
    -moz-box-shadow: 1px 1px 2px 3px #eee;
    -webkit-box-shadow: 1px 1px 2px 3px #eee;
	box-shadow: 1px 1px 2px 3px #eee;
}

div.main div.buttons{
	text-align:center;
}
div.main div.buttons input[type=submit]{
	margin:0px 5px;
}

.button {
    display: inline-block;
    background-color: #f5f5f5;
    background-image: -webkit-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -moz-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -ms-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: -o-linear-gradient(top, #f5f5f5, #f1f1f1);
    background-image: linear-gradient(top, #f5f5f5, #f1f1f1);
    color: #444;

    border: 1px solid #dcdcdc;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;

    cursor: default;
    font-size: 11px;
    font-weight: bold;
    text-align: center;
    height: 36px;
    line-height: 36px;
    min-width: 54px;
    padding: 0 8px;
    text-decoration: none;
}

.button:hover {
	background-color: #F8F8F8;
	background-image: -webkit-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -moz-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -ms-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: -o-linear-gradient(top,#f8f8f8,#f1f1f1);
	background-image: linear-gradient(top,#f8f8f8,#f1f1f1);
	
	border: 1px solid #C6C6C6;
	color: #333;
	
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	-moz-box-shadow: 0px 1px 1px rgba(0,0,0,.1);
	box-shadow: 0px 1px 1px rgba(0,0,0,.1);
}
