div.main {
	width: 100%;
	padding: 10px;
	border-bottom: solid 1px #ccc;
}

div.main>a.logoLink>img.logo {
	width: 95px;
	float: left;
	margin: 8px 18px;
}

div.main div.input {
    margin: 10px 4px;
}

div.main div.input>input[type=text] {
    width: 630px;
    height: 42px;
	padding: 3px;
	border-radius: 21px;
    font-size: 1.2em;
    background-color: transparent;
    border: none;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, .87);
    word-wrap: break-word;
    outline: none;
    -webkit-tap-highlight-color: transparent;
	border: 1px solid #ccc;
	
	background-image:url('../svg/magnifying-glass.svg');
	background-repeat:no-repeat;
	background-size: 20px 20px;
	background-position: right 10px center;
}

div.main div.input>input[type=text].shadow {
	padding-left: 10px;
}
.shadow {
    -moz-box-shadow: 1px 1px 2px 3px #eee;
    -webkit-box-shadow: 1px 1px 2px 3px #eee;
	box-shadow: 1px 1px 2px 3px #eee;
}
div.results{
	padding-left:170px;
	padding-top:20px;
	font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
	width: 1024px;
}

div.results>div.result>h3.title{
	margin: 20px 0px 0px 0px;
	font-weight: normal;
	font-size: 18px;
	
}
div.results>div.result>h3.title>a{
	text-decoration: none;
}
div.results>div.result>h3.title>a:hover{
	text-decoration: underline;
}  
div.results>div.result>a{
	font-size: 14px;
	padding-top: 1px;
	color: #006621;
	text-decoration: none;
}  
div.results>div.result>p{
	line-height: 1.4;
	word-wrap: break-word;
	font-size: small;
	margin: 0;
}